
<div class="block-form">
    <h1>New Post</h1>
    <form action="/SavePost" method="POST">
        <input type="hidden" name="id" value="{{.Id}}">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input class="form-control" id="title" name="title" value="{{.Title}}" placeholder="Type post here">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea id="content" name="content" class="form-control" id="exampleFormControlTextarea1" rows="3">{{.Content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        {{if .Id}}
            <a class="white" href="/delete/{{.Id}}">Delete</a>
        {{end}}
    </form>

</div>
